/* color palette */
:root {
  /*  */
  --pink: rgba(252, 169, 169, 0.6);
  --pink1: #fe8daa;
  --pink2: #dfdbdf;
  --pink3: #fe8daa;
  /*  */
  --one: rgb(253, 123, 57);
  --two: rgb(238, 114, 60);
  --three: rgb(249, 150, 51);
  --four: rgb(48, 34, 33);
  /*  */
  --lightgray: rgb(250, 252, 254);
}

.music-player-item {
  display: flex;
  animation: slidein 0.3s ease-in-out;
}

/* ==================================== */

.music-player {
  position: relative;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background-color: var(--lightgray);
  border: solid 2px var(--three);
  margin: 20px 20px;
}

.play-pause-container {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.play-pause {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, var(--two), var(--three));
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  transform-origin: center;
  cursor: pointer;
}

.play-pause:hover {
  transform-origin: center;
  transform: scale(1.1);
}

.play-pause-button {
  align-self: center;
  text-align: center;
  color: white;
  font-size: 90%;
  cursor: pointer;
}

.play-pause-button > i {
  align-self: center;
  text-align: center;
}

.progress-container {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #dfdbdf;
  border-radius: 6px;
  cursor: pointer;
  height: 3px;
  width: 50%;
}

.progress {
  background-color: var(--three);
  border-radius: 6px;
  height: 100%;
  width: 80%;
  transition: width 0.1s linear;
}

.like-unlike {
  position: absolute;
  color: var(--three);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  top: 10%;
  right: 10%;
}

/* ========================================- */

.song-details-container {
  height: 30px;
  width: 100px;
  margin: 25px 0;
  border-radius: 5px;
  /* box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3); */
}

.details-i-container {
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.song-details-container i {
  color: var(--three);
}

.song-details {
  display: none;
}

.song-details p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================- */

@keyframes slidein {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
